/*页面样式,基本默认值*/
html{
	font-size:62.5%;
	color:#222;
}
:selection{
	background-color: #b3d4fc;
    text-shadow: none;
}
ul{
	padding:0;
	margin:0;	
}
li{
	list-style:none;
}
/*
工具样式
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*自定义页面样式*/

body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: underline;
}
/* 头部
*/
header {
    width: 100%;
}

header .top {
    color:#fff;
	background: #555;
	border-bottom: 1px #ecc000 solid;
	line-height: 3rem;
    padding: 0 1.5rem;
}

header .top .tel {
    float: left;
}

header .top ul {
    float: right;
}

header .top ul li {
    display:inline-block;
}

header .top ul li + li {
   border-left: 1px solid #999;
    margin-left: -3px;
}

header .top ul li a {
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
}
header .main {
    padding: 0;
}

header .main .brand {
    float: left;
    padding: 1rem 1.5rem;
}

header .main ul {
    float: right;
}

header .main ul li{
    display: inline-block;
    
}
header .main ul li+li{
	border-left: 1px solid #f0ede9;
}
header .main ul li a {
    display: inline-block;
    padding: 0 2.5rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}

header .main ul li a:hover,
header .main ul li a:active,
header .main ul li a.active {
    color: #ffb300;
    background-color: #f8f6f1;
}

/* 主要内容
*/
.container{
	width:100%;
}
.trans-content
{
	width:90%;
	margin: 0 auto;
	font-size: 1.5rem;
}
.transaction {
    width: 100%;
    background-color: #7c7365;
	
}
.trans-data {
    float: left;
	color:#fff;
}
.trans-report{
	float:right;
}
.trans-report a{
	color:#fff;
}
.trans-money{
	font-size: 2.2rem;
    color: #ff9900;
    letter-spacing: 3px;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 1px #333 inset;
}
.transaction{
	line-height:3em;}
/* 广告*/
/*feature*/
.feature {
    width: 90%;
    margin: 2rem auto;
    font-size: 0;/*!!!!!!!!*/
}

.feature .item {
    display: inline-block;
    width: calc(33.33333% - 3rem);
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.4rem;
    background-color: #fff;
	box-shadow: 0 0 4px #ccc;
}

.feature .item + .item {
    margin-left: 1.5rem;
}

.feature .item h3 {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 3.3rem;
    text-align: center;
    color: #ff9900;
}

.feature .item p {
    display: inline-block;
    width: 55%;
    margin: 0;
    padding: 0;
    color: #999;
}
.notice {
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    line-height: 3rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}

.notice a {
    float: left;
    display: inline-block;
    width: 70%;
    margin-left: 2rem;
    text-decoration: none;
}

.notice a:first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.notice a:first-child:before {
    content: '最新公告: \00a0\00a0';
    color: #aaa;
}

.notice a span {
    color: #999;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.notice a.more {
    float: right;
    width: auto;
    margin-right: 2rem;
    color: #ff9900;
}
/*product*/
.product {
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    background-color: #f5f9fa;
    border-top: 2px solid #ff9900;
    box-shadow: 0 0 4px #ccc;
}
.info{
	width:48%;
	float:left;
	
}
.product h2{
	color: #635c51;
	float:left;
	width:20%;
	text-align: center;
	font-size:3.6rem;
	margin-top: 2rem;
}
.product h2 em{
	display:block;
	font-size: 1.6rem;
	margin-top: 1rem;
}
.product h2 em:first-child{
	margin-top:4rem;
}

.product-content{
	background:#fff;
	float:right;
	width:79%;
}

.item{
	width:100%;
	margin:0;
}
.item h3{
	width:30%;
	float:left;
	text-align: center;
	height: 4rem;
	line-height:4rem;
	margin:auto;
	
}
.product .product-content .item .info p {
    float: left;
    display: inline-block;
    text-align: center;
    width: 56%;
	height: 4rem;
	margin:0;
	line-height:4rem;
	
}
.item .info p span {
   
    color: #ff9900;
}

.product .product-content .item .info p:last-child {
    width: 40%;
	height: 4rem;
	margin:0;
	line-height:4rem;
	
}

.item .buy{
	width:22%;
	float:left;
	text-align:center;
	display:inline-block;
	height: 4rem;
	line-height:4rem;
	}

/*底部导航*/
.footer {
    padding: 3rem 0;
    background-color: #fff;
    border-top: 2px solid #eee;
}
.footer-content .brand {
	float:left;
	background: url(../img/logo@1x.png) no-repeat left;
    background-size: 150px 35px;
	display:block;
	width: 20%;
    height: 35px;
}
.footer-content ul {
    float: left;
    width: 15%;
}

.footer-content{
	width:90%;
	margin:0 auto;
}
/*底部
*/
.footer{width:100%;}
footer {
    width: 100%;
    padding: 3rem 0;
    background-color: #ededed;
}
footer ul {
    text-align: center;
}
footer ul li {
    display: inline-block;
}
footer p {
    text-align: center;
    color: #999;
}
footer ul li .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 466px 447px;
    overflow：hidden;
}

footer ul li .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon-vsjmfw {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

footer ul li .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}
 